// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
    // base
    --font-family: "Inter";
    --content-width: 1120px;
    --container-offset: 20px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

    // colors
    --light-color: #fff;
    --accent1-color: #00b9b6;
    --accent2-color: #ffa800;
    --appstore-color: #2e3a59;
    --text-color: #0e0e0f;
}
